<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="Fasm.NET" version="1.70.03" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.Toolkit.Wpf.UI.Controls.WebView" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.18362.2005" targetFramework="net48" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="squirrel.windows" version="1.9.1" targetFramework="net461" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net48" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>